/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body,
input,
button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);

}

body {
    color: var(--white-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

/*.header::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/

/*    height: 100%;*/
/*    background: red, transparent);*/
/*    transition: 1.5s;*/
/*}*/

/*.header:hover::after {*/
/*    left: 100%;*/
/*}*/

.logo {
    font-size: 2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 2.5rem;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}


input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.main__image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login__form {
    position: relative;
    background-color: hsla(0, 0%, 10%, .1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
}

.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.login__content,
.login__box{
    display: grid;
}

.login__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .75rem;
    border-bottom: 2px solid var(--white-color);
}


.login__icon,
.login__eye {
    font-size: 1.25rem;
}

.login__input {
    width: 100%;
    padding-block: .8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login__box-input {
    position: relative;
}

.login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top .3s, font-size .3s;
}

.login__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}

.login__box:nth-child(2) input{
    padding-right: 1.8rem;
}

.login__check,
.login__check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__check {
    margin-bottom: 1.5rem;
}

.login__check-label,
.login__forgot,
.login__register {
    font-size: var(--small-font-size);
}

.login__check-group {
    column-gap: .5rem;
}

.login__check-input {
    width: 16px;
    height: 16px;
}

.login__forgot {
    color: var(--white-color);
}

.login__forgot:hover {
    text-decoration: underline;
}

.login__button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.login__register {
    text-align: center;
}

.login__register a {
    color: var(--white-color);
    font-weight: var(--font-medium);
}

.login__register a:hover {
    text-decoration: underline;
}

.login__input:focus + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

@media screen and (min-width: 576px){
    .login {
        justify-content: center;
    }

    .login__form {
        width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .login__title {
        font-size: 2rem;
    }
}


/*home page*/

.container-news {
    position: absolute;
    width: 100%;
    padding-top: 100px;
}

.blog-section {
    width: 85%;
    margin: 20px auto;
}

.blog-section .title-news {
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .title-news h2 {
    font-size: 40px;
    color: #357ca6;
    text-transform: uppercase;
    margin-top: 50px;
}


.blog-section .title-news p {
    font-size: 18px;
    color: #edede6;
    margin-top: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background-color: #535252;
    border: none;
    border-radius: 20px;
}

.image-section {
    flex-grow: 1;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.content-card {
    padding: 15px 20px;
}

.content-card h4,
.content-card p {
    color: #edede6;
    font-size: 15px;
}

.content-card a {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #3a706a;
    padding: 8px 15px;
}


@media screen and (max-width: 992px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .cards {
        grid-template-columns: 1fr;
    }
}

/* Create news */

.container-form {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15%;
}

.container-form h1 {
    text-align: center;
}


.news__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    padding: 20px;
    background-color: #201f1f;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
}

.news__details {
    color: #ffffff;
}

/*.news__details h2 {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.news__details p {*/
/*    padding-top: 20px;*/
/*}*/
.news__message {
    padding: 20px;
}
